body {
    min-width: 100vh;
    min-height: 100vh;
    background: black;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.up{
    display: flex;  
    justify-content: space-between;
}

.main{
    width: 1000px;
    height: 600px;
    background-color: rgb(0, 0, 70);
}

.cuadrado-blanco{
    width: 260px;
    height: 260px;
    background-color: white;
}

.cuadrado-blancod{
    width: 260px;
    height: 260px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}

.cuadrado-rojo{
    width: 210px;
    height: 210px;
    background: red;
}

.rectangulo-blanco{
    height: 260px;
    width: 650px;
    background: white;
    display: flex;
    justify-content: flex-end;
}

.rectangulo-blancod{
    height: 260px;
    width: 650px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.rectangulo-rojo{
    height: 210px;
    width: 600px;
    background: red;
    
}



